<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHIC原醉</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
<body class="pt54 pb60">

<div class="top-menu">
    <a href="" class="logo"></a>
    <div class="top-menu-right">
        <span class="search-btn"></span>
        <div class="bread-menu-btn"><i></i><i></i><i></i></div>
    </div>
    <div class="bread-menu-panel pt54">
        <a href="">首页</a>
        <a href="">我的</a>
    </div>
</div>

<div class="container mt30">
    <div class="t-title">Ice Chueng</div>
    <div class="author-page">
        <img src="../static/img/author-detail.jpg" alt="">
        <p>
            留美期间玩票参加亚洲小姐，并进入波士顿赛区10强，弹得一手好钢琴，健身房撸的一手好铁。撩汉范围囊括各种类型各行各业，从音乐艺术类浪子，到高智商工程师，到美国著名摄影师大叔，到外形酷似刘凯威的ABC肌肉男，到全国散打冠军，到哈佛MIT等投行界精英……身边波士顿白富美以及优质独立女性闺蜜环绕，从自身实战经历以及身边优质女性的故事中提炼出了一套从饮食，塑形，穿搭，化妆，再到话术和心理建设等方面的魅力女性指南。擅长洞察男女心理差异和彼此需求，在短时间内，教你如何利用美貌和情商在两性关系中赢得更多，做一个让人一直宠爱有加的bling
            bling小妖精。</p>
    </div>
    <div class="order-time">
        <div class="time-line"><span>预约时间：2017·03·05～03·20</span></div>
        <p>3002人已预约</p>
    </div>
</div>

<div class="container mt30">
    <h2 class="c-title"><span>TA的文章</span> <a href="">more</a></h2>
    <div class="page-list">
        <div class="page-item">
            <img src="../static/img/page.jpg" alt="">
            <div class="page-item-text">
                <h3>旅行中如何优雅地发朋友圈？</h3>
                <p>你应该动用强大的左小脑将所有语言精简成两三句看似随口其实酝酿半小时内容。</p>
            </div>
        </div>
        <div class="page-item">
            <img src="../static/img/page.jpg" alt="">
            <div class="page-item-text state2">
                <h3>旅行中如何优雅地发朋友圈？</h3>
                <p>你应该动用强大的左小脑将所有语言精简成两三句看似随口其实酝酿半小时内容。</p>
            </div>
        </div>
    </div>
</div>

<a href="" class="btn-order-red">立即预约</a>


<script src="../static/vendor/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
        $('.bread-menu-btn').on('click', function () {
            $(this).toggleClass('active');
            $('.top-menu').toggleClass('active');
            $('.bread-menu-panel').toggleClass('active');
        });
    })
</script>
</body>
</html>